<html>
    <head>
        <title>Log</title>
    </head>

    <body>
        <table>
            <thead>
                <tr>
                    <th>last_updated</th>
                    <th>status</th>
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                    <tr>
                        <td>{{status}}</td>
                        <td>{{last_updated}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </body>
</html>
