<html>
    <head>
        <title>Log</title>
    </head>

    <body>
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>role</th>
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{name}}</td>
                        <td>{{role}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </body>
</html>
